body {
  background-color: blanchedalmond;
}

h1 {
  text-align: center;
  padding: auto;
  margin: 0 auto;
}

p {
  text-align: center;
}

footer a {
  color: darkcyan;
  margin: 10px;
}

footer {
  text-align: center;
}

.yummy-photo {
  display: block;
  max-width: 100%;
  border-radius: 10px;
  margin: 30px auto;
}
